[submodule "iPlug2"]
	path = iPlug2
	url = git@github.com:iPlug2/iPlug2.git
[submodule "ext/riw"]
	path = ext/riw
	url = git@github.com:SachiSakurane/riw.git
[submodule "ext/usagi"]
	path = ext/usagi
	url = git@github.com:SachiSakurane/usagi.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "ext/q"]
	path = ext/q
	url = git@github.com:cycfi/q.git
